<section class="post">
        <header class="major">
            <span class="date"><%- item.date.format('LL')%></span>
            <h1><%- item.title %></h1>
            <% if(item.excerpt){ %>
                <%- item.excerpt%>
            <% } %>
        </header>
        <div class="image main"><img src="images/pic01.jpg" alt="" /></div>
        <%- item.content%>
    </section>