<div id="copyright">
    <ul>
        <li>
            Made with
            <%- image_tag('img/love.png', {alt: 'Love', class: 'imgcopy'})%> and
                <a href="https://hexo.io/" target="_blank">
                    <%- image_tag('img/hexo.png', {alt: 'Hexo', class:'imgcopy'})%>
                </a> by <a href="#">Gabriel Ferreira</a>
        </li>
        <li>Design:
            <a href="https://html5up.net">HTML5 UP</a>
        </li>
    </ul>
</div>