<nav id="nav">
    <ul class="links">
        <li class="active"><a href="index.html">This is Massively</a></li>
        <li><a href="generic.html">Generic Page</a></li>
        <li><a href="elements.html">Elements Reference</a></li>
    </ul>
    <% if(theme.social) {%>
        <%- partial('_partial/social')%>
    <% } %>
</nav>