<nav id="nav">
    <ul class="links">
        <% for (var i in theme.menu){ %>
            <li> <a href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a> </li>
        <% } %>
    </ul>
    <% if(theme.social) {%>
        <%- partial('_partial/social')%>
    <% } %>
</nav>
