<ul class="icons">
        <li><a href="<%- theme.linkedin_url%>" target="_blank" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="<%- theme.github_url%>" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
</ul>